{% load static %}
<header id="header" class="header-area">
  <div class="container custom-container">
    <nav class="menu-area d-flex align-items-center">
      <div class="logo">
        <a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt="logo" /></a>
      </div>
      <ul class="main-menu d-flex align-items-center">
        <li>
          <a class="active" href="javascript:void(0)">Home</a>
          <ul class="sub-menu">
            <li>
              <a href="/">🏠</a>
            </li>
            <li>
              <a href="/about">❌</a>
            </li>
            <li>
              <a href="{% url 'post:post_list' %}">📋</a>
            </li>
            <li>
              <a href="home-4.html">Home Style 4</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">Bản đồ</a>
          <ul class="sub-menu">
            <li>
              <a href="{% url 'maps:co-ban' %}">Cơ bản</a>
            </li>
            <li>
              <a href="{% url 'maps:tim-kiem' %}">Tim kiem</a>
            </li>
            <li>
              <a href="{% url 'maps:cinema' %}">Cinema</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">About Us</a>
          <ul class="sub-menu">
            <li>
              <a href="about-us.html">About Us</a>
            </li>
            <li>
              <a href="team.html">Team Members</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">Portfolio</a>
          <ul class="sub-menu">
            <li>
              <a href="project.html">Project</a>
            </li>
            <li>
              <a href="project-details.html">Project Detail</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)">Blog</a>
          <ul class="sub-menu">
            <li>
              <a href="blog.html">Blog</a>
            </li>
            <li>
              <a href="blog-details.html">Blog Details</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="contact.html">Contact Us</a>
        </li>
      </ul>
      <div class="right-content ml-auto">
        <div class="search-bar">
          <img src="{% static 'img/logo/search.svg' %}" alt="search logo" />
        </div>
        <div class="contact-number">
          <a class="primary__button primary__button-bgBlack" href="tel:+987 45478 547">
            <img src="{% static 'img/logo/phone-alt.svg' %}" alt="phone alt" />
            +987 45478 547
          </a>
        </div>
      </div>
      <div class="hamburger-menu">
        <span></span><span></span><span></span>
      </div>
    </nav>
    <aside>
      <div class="sidebar-menu">
        <div class="close-sidebar">
          <span></span><span></span>
        </div>
        <div class="logo">
          <a href="index.html"><img src="{% static 'img/logo/logo.png' %}" alt="logo" /></a>
        </div>
        <form class="asidesearch-bar">
          <input type="text" name="search" />
          <img src="{% static 'img/logo/search.svg' %}" alt="search logo" />
        </form>
        <ul class="main-menu">
          <li>
            <a class="active" href="index.html">Home</a>
          </li>
          <li>
            <a href="services.html">Services</a>
          </li>
          <li>
            <a href="about-us.html">About Us</a>
          </li>
          <li>
            <a href="project.html">Portfolio</a>
          </li>
          <li>
            <a href="blog.html">Blog</a>
          </li>
          <li>
            <a href="contact.html">Contact Us</a>
          </li>
        </ul>
        <a class="primary__button primary__button-bgBlack contacprimary__button" href="tel:+987 45478 547">
          <img src="{% static 'img/logo/phone-alt.svg' %}" alt="phone alt" />
          +987 45478 547
        </a>
      </div>
      <div class="overlay"></div>
    </aside>
  </div>
  <div class="search-box">
    <div class="search-form">
      <form action="#">
        <input type="text" placeholder="Enter Your Kayword" />
        <button type="submit"><img src="{% static 'img/logo/search.svg' %}" alt="search logo" /></button>
      </form>
    </div>
    <a class="search-close" href="javascript:void(0)"><i class="fas fa-times"></i></a>
  </div>
</header>
