{% extends 'layout.html' %} {% load static %} {% block title %}
  Tìm kiếm địa vào địa chỉ
{% endblock %} {% block map %}
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
  <link rel="stylesheet" href="{% static 'css/map/map.css' %}" />
  <script src="{% static 'leaflet/leaflet.js' %}"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/css/autocomplete.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/tomickigrzegorz/autocomplete@1.8.6/dist/js/autocomplete.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.6.0/Control.FullScreen.min.js"></script>
{% endblock %}
<style>
  .description {
    width: 300px;
    font-size: 16px;
    color: #333;
    padding: 10px 14px;
    background-color: hsla(0, 0%, 100%, 0.8);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
    line-height: 120%;
    border: 1px solid grey;
  }
</style>

{% block content %}
  <section class="special-services">
    <div class="container mb-3">
      <div class="auto-search-wrapper loupe text-center">
        <input type="text" autocomplete="off" id="search" placeholder="Nhập vào tên thành phố" />
      </div>
    </div>

    <div class="container-fluid">
      <div class="row" style="height: 800px">
        <div id="map"></div>
      </div>
    </div>
  </section>
{% endblock %} {% block script %}
  <script src="{% static 'js/map/search-address.js' %}"></script>
{% endblock %}
